/* background for home , login and register pages  */
.home,
.login,
.registe {
  min-height: 100vh;
  background-image: url(../Images/bakground_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* home page hero section */
.hero {
  min-height: 85vh;

  display: flex;

  align-items: center;
}

/* buttons for login and sign up */
.btn {
  border-radius: 14px;

  padding: 15px;

  font-weight: 600;

  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-4px);

  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* register page  */
.form-control {
  border-radius: 10px;
  padding: 12px;
}

.input-group-text {
  border-radius: 10px 0 0 10px;
  background-color: #f8f9fa;
}

.btn {
  border-radius: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.95);
}


/* singin button  */
.signin-link{
  text-decoration: none;
  color: #0d6efd;
  font-weight: 600;
  transition: 0.3s;
}

.signin-link:hover{
  color: #0a58ca;
  text-decoration: underline;
}

/* dashboard style  */

.summary-card{

  background:white;

  border-radius:20px;

  padding:25px;

  box-shadow:0 5px 20px rgba(0,0,0,.08);

  transition:.3s;
}

.summary-card:hover{

  transform:translateY(-5px);

}

.summary-card h5{

  color:gray;

}

.income h2{

  color:#16a34a;

}

.expense h2{

  color:#dc3545;

}

.add-btn{

  border-radius:12px;

  padding:12px 30px;

}

table{

  background:white;

  border-radius:20px;

  overflow:hidden;

}

/* ===============================
   Dark Mode
================================ */

.dark-mode{

    background-color:#121212;

    color:white;

}

/* Navbar */

.dark-mode .navbar{

    background-color:#1f1f1f !important;

}

/* Cards */

.dark-mode .summary-card{

    background:#2b2b2b;

    color:white;

}

/* ===============================
   Table
================================ */

.dark-mode .table{

    color:white !important;

}

.dark-mode .table thead{

    background-color:#2b2b2b !important;

    color:white;

}

.dark-mode .table tbody tr{

    background-color:#1f1f1f !important;

    color:white;

}

.dark-mode .table tbody td{

    background-color:#1f1f1f !important;

    color:white;

}

.dark-mode .table-hover tbody tr:hover td{

    background-color:#343434 !important;

}
/* Modal */

.dark-mode .modal-content{

    background:#2b2b2b;

    color:white;

}

/* Inputs */

.dark-mode .form-control,
.dark-mode .form-select{

    background:#3a3a3a;

    color:white;

    border-color:#555;

}

.dark-mode .form-control::placeholder{

    color:#ccc;

}