body{
    min-height:100vh;
     
    background-image: url(Images/bakground_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* home page hero section */
.hero{

    min-height:85vh;

    display:flex;

    align-items:center;
}
/* buttons for login and sign up */
.btn{

    border-radius:14px;

    padding:15px;

    font-weight:600;

    transition:.3s;
}

.btn:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 20px rgba(0,0,0,.2);
}

/* register page  */
.form-control{
    border-radius: 10px;
    padding: 12px;
}

.input-group-text{
    border-radius: 10px 0 0 10px;
    background-color: #f8f9fa;
}

.btn{
    border-radius: 10px;
}

.card{
    background: rgba(255,255,255,.95);
}