<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home budget tracker</title>
    <!--Css link -->
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
    <!--bootsrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--font asesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body class="home">
    <!--header of the budget tracker -->
    <header class="py-4">
        <div class="container">
            <h1 class="fw-bold text-white">
                <i class="bi bi-wallet2 text-primary"></i>
                Budget<span class="text-primary">Tracker</span>
            </h1>
        </div>
    </header>
    <!--hero section-->
    <section class="hero">
        <div class="container">
    
            <div class="row justify-content-center  ">
    
                <div class="col-lg-8 text-center ">
    
                    <h1 class="display-3 fw-bold mb-4 text-white">
                        Track. Plan. Save.<br>
                        Build a Better Future.
                    </h1>
    
                    <p class="lead text-white mb-5  ">
                        Smart Budget Tracker helps you monitor your income and expenses,
                        manage budgets, and gain clear insights into your spending.
                    </p>
                     <!--buttons section -->
                    <div class="d-grid gap-3 col-md-5 mx-auto">
    
                        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">
                            Login
                            <i class="bi bi-arrow-right ms-2"></i>
                        </a>
    
                        <a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-lg">
                            Register
                            <i class="bi bi-person-add ms-2"></i>
                        </a>

    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </section>
    
</body>
</html>